<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .container {
        padding: 30px;
        text-align: center;
        font-family: monospace;
        font-size: 24px;
        font-variant: small-caps;
        font-weight: lighter;
        color: #FFF;
        background: #4CAF50;
      }
    </style>
    <title>Ticket sent in</title>
  </head>
  <body>
    <div class="container">
      <h2>Thank you!</h2>
      <p>Ticket submited.</p>
      <p>You should receive an email with the confirmation, very soon</p>
    </div>
  </body>
</html>
