html, body {
  margin: 0;
  padding: 0;
  background-color: #66BB6A;
  font-family: sans-serif;
  font-size: 18px;
}
.container  {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: fixed;
  width:200px;
  height:200px;
  margin-top: -200px;
  margin-left: -100px;

}

#form {
  display: inline-table;
}

#form input[type="text"]{
  border: none;
  outline: none;
  margin: 5px 5px 0 5px;
  padding: 10px;
  background: #263238;
  color: #FFF;
  border-radius: 5px 5px 0 0;
}
#form input[type="password"] {
  border: none;
  outline: none;
  margin: 0 5px 5px 5px;
  padding: 10px;
  background: #263238;
  color: #FFF;
  border-radius: 0 0 5px 5px;

}
#form input[type="text"]:focus{
  background: #37474F;
}
#form input[type="password"]:focus{
  background: #37474F;
}
#form input[type="submit"] {
  padding: 6px 12px;
  margin: 5px;
  outline: none;
  border: none;
  background: #FFF;
  border-radius: 5px;
}
#form input[type="submit"]:hover{
  background: #CFD8DC;
  cursor: pointer;
}

img {
  border: 1px solid #fff;
  border-radius: 50%;
}
