html, body {
  margin: 0;
  font-family: sans-serif;
  background: #FFF;
}

table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
th{
  background: #263238;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
}
tr:nth-child(even){
  background: #f2f2f2;
}
td{
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
#id {
  width: 5%;
  text-align: center;
}
#date {
  width: 13%;
  text-align: center;
}
#email {
  width: 14%;
  text-align: center;
}
#phone {
  width: 14%;
  text-align: center;
}
#issue {
  width: 14%;
  text-align: center;
}
#description {
  width: 40%;
  text-align: center;
}

a, input[type='submit'] {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    padding: 5px 15px;
    cursor: pointer;
}
input[type='text']{
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
}
.topbar {
  background: #5e2557;
}
.right-side {
  background: none;
  float: right;
}

span {
  float: right;
  color: #fff;
  margin-right: 10px;
}
