body, html {
  margin: 0;
<<<<<<< HEAD
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  background: #388E3C;
  color: #fff;
}

.form-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -15%;
  margin-top: -15%;
}
.p {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}
p {
  font-size: 10px;
  text-align: center;
}


input, textarea{
  color: #fff;
  padding: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, .1);
  border: none;
  outline: none;

  width:100%;
  box-sizing: border-box;
}

input[type="submit"]{
  background: #FFF;
  color: green;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #fff;
=======
  font-family: 'Nunito', sans-serif;
}
.container {
  display: table;
  margin: 40px auto;
  padding: 20px;
  background: #66bb6a;
  border-radius: 5px;
}
h3 {
  text-align: center;
  font-variant: small-caps;
  font-size: 2em;
}
.form {
  background: #a5d6a7;
  padding: 15px;
  border-radius: 5px;
}
.form input[type="text"] {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.selector {
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: #f4511e;
  color: #fff;
}
input[type="submit"]:hover {
  cursor: pointer;
  border: 2px inline-block #f4511e;
  background: #ff5722;
}
p {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  color: #fff;
>>>>>>> master
}
